---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .AppName }}
  labels:
    app: {{ .AppName }}
spec:
  replicas: {{ .Replica }}
  selector:
    matchLabels:
      app: {{ .AppName }}
  template:
    metadata:
      labels:
        app: {{ .AppName }}
    spec:
      containers:
      - name: {{ .AppName }}
        image: {{ .Image }}
        imagePullPolicy: Always
        ports:
        - containerPort: {{ .Port }}